{:source-paths
 ["src"]

 :dependencies
 [[macchiato/core "0.2.24"]]

 :builds
 {:hubspot
  {:target :node-script
   :output-to "target/main.js"
   :main leads.plugins.hubspot.core/main
   :devtools {:before-load-async leads.plugins.hubspot.dev/stop!
              :after-load leads.plugins.hubspot.dev/start!}
   :dev {:main leads.plugins.hubspot.dev/main}}}}
